html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 1rem;
}

button {
  padding: 0.5rem 1rem;
}

.labeled {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type='text'] {
  padding: 0.3rem;
}

.input-wrapper {
  position: relative;
  max-width: 30em;
}

.labeled > * {
  margin-right: 1rem;
}

label {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.validation-error {
  color: red;
}

.dropdown {
  z-index: 10;
  border: 1px solid gray;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 2.8rem;
  background: white;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navigation {
  width: 30em;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.navigation > * {
  margin-right: 1rem;
}

.array-wrapper {
  margin-bottom: 1rem;
}
